.bubble{
    width: 50px;
    height: 50px;
    background-color: brown;
    border-radius:50% ;
    display: inline-block;
    -webkit-animation: in-and-out-bubbles 1.20s infinite ease-in-out;
    animation: in-and-out-bubbles 1.20s infinite ease-in-out;
}
.wrapper{
    text-align: center;
    margin: auto;
    height: 1000px;
    padding: 20px;
    color: black;
    font-size: 25px;
    
}
.loading-container{
    margin-top: 20%;
}
.bubble1{
    -webkit-animation-delay:-0.35s ;
    animation-delay: -0.35s;
}
.bubble2{
    -webkit-animation-delay:-0.20s ;
    animation-delay: -0.20s;
}
@keyframes in-and-out-bubbles{
    0%,100%{transform:scale(0)}
    20%{transform:scale(1)}
}
@-webkit-keyframes in-and-out-bubbles{
    0%,100%{-webkit-transform:scale(0)}
    20%{-webkit-transform:scale(1)}
}