#inter-text  h4{
   color: #680C07;
   font-style: Prompt;
   font-size: 40px;

}

#inter-table-1 tr{
    color: aliceblue;
}

#inter-table-bd th{
    border: 2px solid aliceblue;
    font-size: 23px;
    font-style: Prompt;
}

#inter-table-2 td{
    border: 2px solid #680C07;
    font-size: 21px;
    font-style: Prompt;
}