list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 1232px;
    background-color: #f1f1f1;
    border-radius: 20px;
    margin-top:20px;
    margin-bottom: 50px;
  }
  
 test a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
    border: 2px;
    border-color: #FFFFFF;
    width: 1232px;
    border-radius: 20px;
    padding-left: 5px;
    
  }
  
 test a.active {
    background-color: #C4C4C4;

    color: white;
  }
  
  test a:hover:not(.active) {
    background-color: #555;
    color: white;
  }