#Totalcapital-1 {
    width: 300px;
    margin-top: 15px;
  }

  #Totalcapital-3 {
    margin-left: 3%;
    margin-top: 15px;
  }
  #Totalcapital-2 {
    float: right;
  }

  #Totalcapital-0 {
    width: 400px;
    margin-top: 15px;
    
  }
